 <!-- get-in-touch -->
    <div class="get-in-touch">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 pd wow fadeInLeft" data-wow-delay="0.3s">                  
                    <i class="fa fa-phone"></i>
                    <a href="tel:{{content.field_phone1.0}}">{{content.field_phone1.0}}</a>
                    <a href="tel:{{content.field_phone2.0}}">{{content.field_phone2.0}}</a>
                </div>
                <div class="col-lg-6 col-md-6 pd wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-home"></i>
                    <p>{{content.field_address.0}} </p>
                </div>
                <div class="col-lg-3 col-md-3 pd wow fadeInRight" data-wow-delay="0.9s">
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:{{content.field_email1.0}}">{{content.field_email1.0}}</a>
                    <a href="mailto:{{content.field_email2.0}}">{{content.field_email2.0}}</a>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Contact form -->
    <section id="conatct">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto wow fadeInDown" data-wow-delay="0.5s">
                  {{ content.field_contact }}
                </div>
            </div>
        </div>
    </section>
    <!-- Contact form end-->