<!--services wrapper Start Here-->	 
<div class="col-md-4 col-sm-4">
	<div class="service_item">
        <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
        <h2>{{ content.field_title.0 }}</h2>
        {{ content.field_body.0 }}
        {% if content.field_url.0|render is not empty %}
         	<a href="{{ content.field_url[0]['#url']|render }}" class="read_more">{{ content.field_url[0]['#title'] }}</a>
        {% endif %} 	
    </div>
</div>  
<!--services wrapper End Here-->   

